VITE_FIREBASE_API_KEY=AIzaSyC9lpZkFLAGz5aPd6ZgKEOEeddyjvwWlKQ
VITE_FIREBASE_AUTH_DOMAIN=yogu-ice-carapungo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=yogu-ice-carapungo
VITE_FIREBASE_STORAGE_BUCKET=yogu-ice-carapungo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=153730189364
VITE_FIREBASE_APP_ID=1:153730189364:web:e8ccfe96a708f76013a261
VITE_FIREBASE_MEASUREMENT_ID=G-DF0PGS340Z
